.video-card {
  max-width: 640px;
  width: 100%;

  .youtube-frame {
    position: relative;
    padding-top: 75%;
    width: 100%;
    height: auto;

    iframe {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
    }
  }

  .play-content {
    position: absolute;
    right: 8px;
    top: 8px;
    img {
      width: 128px;
      height: 128px;
      cursor: pointer;
    }

    @media screen and (max-width: 480px) {
      img {
        width: 64px;
        height: 64px;
      }
    }
  }
}
